body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.guideContainer {
    background-image: url('src/images/pawbkgrd.png');
    background-size: 40%;
    background-repeat: repeat-x;

    color: black;
    padding: 60px;
}

h3, h2 {
    padding: 10px;
}