body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.guideContainer {
    color: black;
    padding: 60px;
    background-image: url('src/images/pawbkgrd.png');
    background-size: 60%;
    background-position: center;
}