/* @import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");

h1 {
  font-family: "Chicle", Helvetica, sans-serif;
  font-size: 32px;
}


p {
  font-family: "Chicle", Helvetica, sans-serif;
  font-size: 32px;
} */
